<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <link rel="stylesheet" type="text/css" href="/static/css/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/components/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/custom_style.css">
      <link rel="stylesheet" href="/static/css/Elixir.css">
      <link rel= "stylesheet" href="/static/components/font-awesome-4.7.0/css/font-awesome.min.css">
      <script type="text/javascript" src="/static/components/jquery-ui-1.12.1/jquery-ui.min.css"></script>
      <script type="text/javascript" src="/static/components/jquery/jquery3.6.0.min.js"></script>
      <title>Timetable</title>
    
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/centre/">Centre</a></li>
            <li><a href="/professor/">Professor</a></li>
            <li><a href="/programme/">Programme</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>